@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin-slow {
    animation: spin 8s linear infinite;
}

.animate-spin-reverse-slow {
    animation: spin 20s linear infinite reverse;
}

.animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
    animation: float 6s ease-in-out infinite 3s;
}

.animate-scale-x {
    animation: scaleX 2s ease-out forwards 1s;
}

.animate-wave {
    animation: wave 8s ease-in-out infinite;
}


@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes scaleX {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes popper {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-wave {
    animation: popper 3s ease-in-out infinite;
}